.content {
  color: #fff;
  padding: 20px 50px;

  .topBlock {
    display: flex;
    justify-content: space-between;

    &__left {
      p {
        color: #5f5f5f;
      }
      h1 {
        font-size: 1.5em;
        font-weight: 900;
      }
    }

    &__right {
      button {
        padding: 5px 20px;
        background-color: #5800ab;
        border: 1px solid #5800ab;
        border-radius: 10px;
        transition: all ease-in-out 0.2s;
        &:hover {
          color: #51ff00;
        }
      }
    }
  }

  .information {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__block {
      border: 1px solid #282828;
      border-radius: 20px;

      width: 45%;
      padding: 30px;

      h1 {
        text-transform: uppercase;
      }
      h2 {
        margin-top: 20px;
        font-size: 1.5em;
        font-weight: 900;
      }
    }
  }

  .items {
    border: 1px solid #282828;
    border-radius: 20px;
    margin: 30px 0;
    padding: 20px;
    h1 {
      margin-bottom: 30px;
      font-size: 1.3em;
    }
  }
}
